.cv {
  display: grid;
  gap: 1cm;
  grid-template-columns: 33% 67%;
  align-items: start;
  padding: 2em 2cm 2cm 1cm;
  position: relative;
  width: 21cm;

  &:after {
    align-items: flex-end;
    border-bottom: 1px solid $grey-90;
    border-right: 1px solid $grey-90;
    color: hsl(0, 60, 50);
    content: '⚠ Page limit';
    display: flex;
    font-family: $title-font-family;
    font-weight: bold;
    height: 29.5cm;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    text-align: right;
    text-transform: uppercase;
    top: 0;
    z-index: -1;
    @media print {
      display: none;
    }
  }
}

.text-accent {
  color: $text-font-color-accent;
}

// *
// * CV Header
// *
.cv-portrait {
  img {
    border-radius: 50%;
    max-width: 128px;
    margin: auto;
    display: block;
  }
}
.cv-head {
  align-self: center;
  .name {
    font-size: 52px;
    line-height: 1;
  }

  .job {
    font-size: 1.125rem;
    strong {
      font-size: 1.25rem;
      color: $theme-color-second;
    }
  }
}

// *
// * Sidebar
// *
.cv-sidebar {
  display: grid;
  gap: 1em;
  position: relative;

  .divider {
    border: 0;
    content: '';
    display: block;
    border-bottom: 2px solid $theme-color-second;
    transform: translate(-50%, -1em);
    width: 2.5em;
    left: 50%;
    position: absolute;
  }

  .sidebar-title {
    font-size: rem(21px);
    margin-bottom: 0.5rem;
  }

  .sidebar-subtitle {
    font-size: rem(16px);
    margin-bottom: 0.25rem;
    font-weight: normal;
    color: $theme-color-second;
    &:not(:first-of-type) {
      margin-top: 0.5rem;
    }
  }
}

.cv-skills {
  .tags {
    display: flex;
  }
  .tag {
    color: $text-font-color;
    padding: 0.125em 0.25em;
    font-family: $title-font-family;
  }
}

.cv-baseline {
  display: grid;
  gap: 0.5em;
  strong {
    color: #000;
  }
}

// *
// * Main
// *
.cv-main {
  display: grid;
  gap: 2.5em;
}

.cv-main .section-title {
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 0.5rem;
}

.experiences {
  display: grid;
  gap: 2em;
}

.experience-name {
  font-size: rem(18px);
  color: $theme-color-second;
  text-transform: uppercase;
  font-weight: 700;
}

.experience-infos {
  font-family: $title-font-family;
  display: flex;
  justify-content: space-between;
}

.experience-date {
  color: #000;
  font-weight: bold;
}

.experience-description {
  li {
    list-style: disc;
  }
}

.project {
  display: grid;
  grid-template-columns: 196px 1fr;
  gap: 0.5em;
  margin-top: 0.25em;
}

.project-thumb {
  display: flex;
  flex-direction: column;

  img {
    flex-grow: 1;
    border-radius: $border-radius-tiny;
    object-fit: cover;
    border: 1px solid rgba(#000, 0.1);
  }
}

.project-name {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.25em;

  a {
    background: none;
    text-transform: capitalize;
  }
}

.project-card {
  background: none;
  color: black;
  border: 0;
  font-family: $title-font-family;
  text-align: center;

  img {
    border-radius: $border-radius-tiny;
    object-fit: cover;
    border: 1px solid rgba(#000, 0.1);
  }

  .project-name {
    font-size: rem(14px);
    padding: 0;
    line-height: 1;
    text-transform: capitalize;
  }
}

.experience.dev .project {
  &:not(:first-of-type) {
    margin-top: 1em;
  }

  .project-details {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em 1em;
    font-family: $title-font-family;
  }

  .is-title {
    color: $theme-color-second;
    font-size: rem(16px);
  }

  .tag {
    padding: 0.125em 0.25em;
  }
}
