.line-with-icon {
  display: flex;
  align-items: center;
  gap: 0.25em;

  .icon {
    color: $theme-color-second;
    flex-shrink: 0;
    --icon-size: 1.5em;
  }

  a {
    display: flex;
    align-items: center;
    .icon-link {
      position: static;
      color: currentColor;
      width: 14px;
    }
  }
}
