.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0.25em 0;
  .tag {
    padding: 0.125em;
    line-height: 1;
    box-shadow: 0 0 0 1px var(--ring-color, rgba(#000, 0.2));
    border-radius: $border-radius-tiny;
  }
}
